%table
  %tr
    %th
    -if current_admin
      %th
      %th
      %th

  - @slides.each do |slide|
    %tr
      %td= image_tag slide.slide(:slide)
      -if current_admin
        %td= link_to 'Ver', slide
        %td= link_to 'Editar', edit_slide_path(slide)
        %td= link_to 'Eliminar', slide, :confirm => 'Are you sure?', :method => :delete
