= stylesheet_link_tag '/javascripts/libs/jquery.isotope/isotope.css'
= javascript_include_tag '/javascripts/libs/jquery.isotope/jquery.isotope.min.js', '/javascripts/libs/jquery.isotope/jquery.isotope-init.js'






