@import "http://fonts.googleapis.com/css?family=Muli:400,400italic,300,300italic";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* GRID 
---------------------------------------------------- */
/* LAYOUT
---------------------------------------------------- */
/* Apariencia
---------------------------------------------------- */
/* Gráfica
---------------------------------------------------- */
/* COLORS 
---------------------------------------------------- */
/* TIPOGRAPHY 
---------------------------------------------------- */
/* OTHER 
---------------------------------------------------- */
/* SPRITES
---------------------------------------------------- */
/* HEADINGS
---------------------------------------------------- */
/* LAYOUT	
---------------------------------------------------- */
/* Texts 
======================================================= */
/* Box model 
======================================================= */
/* Padding combinations 
======================================================= */
/* Margin 
======================================================= */
/* Floats & Alignments 
======================================================= */
/* css Triangles 
======================================================= */
/* Buttons
======================================================= */
/* Fancy
======================================================= */
/* Sprites
======================================================= */
/* line 14, ../../app/assets/stylesheets/partials/_forms.scss */
#sidebar-first form {
  width: 230px;
}

/* line 20, ../../app/assets/stylesheets/partials/_forms.scss */
#sidebar-first select {
  width: 100%;
  margin-bottom: 5px;
}

/* line 26, ../../app/assets/stylesheets/partials/_forms.scss */
.field {
  margin-bottom: 25px;
}
/* line 28, ../../app/assets/stylesheets/partials/_forms.scss */
.field .description {
  font-size: 14px;
  margin: 5px 0 0 150px;
}

/* line 34, ../../app/assets/stylesheets/partials/_forms.scss */
label {
  width: 150px;
  color: #636466;
  font-size: 12px;
  float: left;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* line 43, ../../app/assets/stylesheets/partials/_forms.scss */
.field input, .field textarea {
  border: 1px solid #ed1c24;
  background: url(../images/backgrounds/bg-input.jpg) repeat;
  font-family: "Muli";
  font-size: 12px;
}

/* line 50, ../../app/assets/stylesheets/partials/_forms.scss */
.field input {
  width: 220px;
  padding: 10px 5px;
}

/* line 55, ../../app/assets/stylesheets/partials/_forms.scss */
.field textarea {
  width: 260px;
  padding: 10px 0 0 5px;
  resize: vertical;
  min-height: 100px;
}

/* line 62, ../../app/assets/stylesheets/partials/_forms.scss */
.required {
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-position: 0 100%;
}

/* line 69, ../../app/assets/stylesheets/partials/_forms.scss */
.actions input {
  float: right;
  color: #ed1c24;
  border: 0;
  padding: 5px 10px 5px 10px;
  padding-right: 20px;
  width: auto;
  cursor: pointer;
  background: url(../images/icons/icon-input-submit.png) no-repeat 100% 50%;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 6, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado h2.title {
  background: none;
  font-size: 20px;
}
/* line 9, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado h2.title:after {
  background: none;
}
/* line 13, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li {
  margin: 0 10px 10px 0;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 18, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li .content {
  background: #8b0304;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px 15px 20px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
/* line 25, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li .content p {
  color: white;
}
/* line 28, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li .content a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 32, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li .content a:after {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: 0px -50px;
  width: 24px;
  height: 24px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 38, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li:hover .content {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 42, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li img {
  vertical-align: top;
}
/* line 47, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li.picture a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 51, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li.picture a:after {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: 0px -50px;
  width: 24px;
  height: 24px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 58, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li.video a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 62, ../../app/assets/stylesheets/partials/_lists.scss */
#portafolio-listado li.video a:after {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: -30px -50px;
  width: 24px;
  height: 24px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* line 72, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links {
  text-align: left;
}
/* line 74, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links .label, footer .social-links ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
}
/* line 77, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links .label {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
}
/* line 82, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links ul {
  margin-top: 10px;
}
/* line 84, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  margin: 0;
}
/* line 87, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links ul li a {
  background-color: green;
}
/* line 90, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links ul li a.facebook {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: -57px -48px;
  width: 29px;
  height: 29px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
}
/* line 91, ../../app/assets/stylesheets/partials/_lists.scss */
footer .social-links ul li a.youtube {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: -87px -48px;
  width: 29px;
  height: 29px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
}

/* line 5, ../../app/assets/stylesheets/partials/_navigation.scss */
.main-menu ul.menu {
  text-align: center;
}
/* line 7, ../../app/assets/stylesheets/partials/_navigation.scss */
.main-menu ul.menu li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: right;
  padding: 0 20px;
}

/* line 13, ../../app/assets/stylesheets/partials/_blocks.scss */
#content .column {
  float: left;
  width: 230px;
  padding-right: 40px;
  margin-right: 10px;
}
/* line 19, ../../app/assets/stylesheets/partials/_blocks.scss */
#content .column.last, #content .column.third {
  padding-right: 0px;
  margin-right: 0;
}
/* line 28, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta article {
  padding-bottom: 15px;
  margin-bottom: 15px;
  background: url(../images/backgrounds/border-style-half.jpg) repeat-x 0 100%;
}
/* line 32, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta img {
  border: 1px solid #ed1c24;
}
/* line 36, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff img {
  float: left;
  margin: 0 5px 5px 0;
}
/* line 40, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff .datos {
  overflow: hidden;
}
/* line 42, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff .datos .nombre {
  text-transform: uppercase;
}
/* line 45, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff .datos .nombre, #content #laposta #staff .datos .cargo {
  margin-bottom: 5px;
}
/* line 48, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff .datos .email, #content #laposta #staff .datos .phone {
  width: 100%;
  float: left;
  clear: left;
}
/* line 51, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff .datos .email:before {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: -27px -30px;
  width: 17px;
  height: 13px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  margin-right: 5px;
}
/* line 55, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff .datos .phone:before {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: -47px -30px;
  width: 17px;
  height: 13px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  margin-right: 5px;
}
/* line 61, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #laposta #staff ul li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  background: url(../images/backgrounds/border-style-half.jpg) repeat-x 0 100%;
  width: 100%;
  float: left;
  clear: left;
}
/* line 70, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #servicios-listado li {
  margin-bottom: 30px;
}
/* line 78, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #postafolio #portafolio-botones li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: right;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 89, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #sidebar-form {
  width: 270px;
  padding-right: 40px;
  float: left;
}
/* line 94, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #content-map {
  width: 470px;
  float: left;
}
/* line 96, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #content-map p {
  margin-bottom: 5px;
}
/* line 102, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #content-map .home:before,
#content #consultas #content-map .phone:before,
#content #consultas #content-map .email:before {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: -57px -30px;
  width: 17px;
  height: 17px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
}
/* line 105, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #content-map .home:before {
  background-position: -67px -29px;
}
/* line 106, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #content-map .phone:before {
  background-position: -88px -30px;
}
/* line 107, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #content-map .email:before {
  background-position: -27px -26px;
}
/* line 108, ../../app/assets/stylesheets/partials/_blocks.scss */
#content #consultas #content-map .email:after {
  content: "@lapost-a.com";
}

/* line 117, ../../app/assets/stylesheets/partials/_blocks.scss */
#posts article h3 {
  display: inline;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 115%;
  color: #636466;
  margin-bottom: 10px;
}
/* line 120, ../../app/assets/stylesheets/partials/_blocks.scss */
#posts article h3:before {
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: -5px -33px;
  width: 20px;
  height: 12px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
}
/* line 124, ../../app/assets/stylesheets/partials/_blocks.scss */
#posts article span {
  font-size: 12px;
  line-height: 115%;
  color: #636466;
  margin-bottom: 10px;
  margin-bottom: 0;
  float: right;
}

/* line 27, ../../app/assets/stylesheets/partials/_headings.scss */
.page-title {
  color: white;
  font-size: 24px;
  background: #b1b3b6;
  padding: 25px 0;
  font-weight: lighter;
  border-bottom: 3px solid #ed1c24;
  margin: 80px 0 40px;
  text-align: center;
}

/* line 31, ../../app/assets/stylesheets/partials/_headings.scss */
h2.title {
  position: relative;
  font-family: "Muli";
  font-size: 20px;
  padding: 5px 0 10px;
  margin-bottom: 20px;
  color: #ed1c24;
  background: url(../images/backgrounds/border-style.jpg) repeat-x 0 100%;
}
/* line 35, ../../app/assets/stylesheets/partials/_headings.scss */
h2.title:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: url(/images/icons/bg-icons.png) no-repeat 0 0;
  background-position: 0 0;
  width: 30px;
  height: 30px;
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
}
/* line 40, ../../app/assets/stylesheets/partials/_headings.scss */
#posts h2.title:after {
  background-position: 0% 0;
}
/* line 41, ../../app/assets/stylesheets/partials/_headings.scss */
#staff h2.title:after {
  background-position: -35px 0;
}
/* line 42, ../../app/assets/stylesheets/partials/_headings.scss */
#likes h2.title:after {
  background-position: -70px 0;
}
/* line 44, ../../app/assets/stylesheets/partials/_headings.scss */
#sidebar-form h2.title:after {
  background-position: -110px 0;
}
/* line 45, ../../app/assets/stylesheets/partials/_headings.scss */
#content-map h2.title:after {
  background-position: -152px 0;
}
/* line 48, ../../app/assets/stylesheets/partials/_headings.scss */
#laposta-description h2.title {
  color: #636466;
  font-size: 12px;
  background: none;
  display: inline;
}
/* line 49, ../../app/assets/stylesheets/partials/_headings.scss */
#laposta-description h2.title:after {
  background: none;
}
/* line 53, ../../app/assets/stylesheets/partials/_headings.scss */
#servicios-listado h2.title {
  color: #b1b3b6;
  font-size: 14px;
  padding: 20px 0 15px;
  margin: 0 0 15px;
}
/* line 54, ../../app/assets/stylesheets/partials/_headings.scss */
#servicios-listado h2.title:after {
  background: none;
}

/*
=============================================================
MAIN STRUCTURE
============================================================= 
*/
/* 
body ul, body ol, body footer nav li,
html body footer nav,
html body footer .copyright,
.navigation li, header nav li{padding:0; margin:0}
.typography p, .content p, section[role="main"] > article p{margin-top:0} */
/* line 14, ../../app/assets/stylesheets/partials/_layout.scss */
body {
  font-family: "Muli";
}
/* line 25, ../../../../../.rvm/gems/ruby-1.8.7-p352/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(0, 0, 0, 0)), color-stop(4.16667%, rgba(0, 0, 0, 0)), color-stop(4.16667%, rgba(100, 100, 225, 0.25)), color-stop(7.29167%, rgba(100, 100, 225, 0.25)), color-stop(7.29167%, rgba(0, 0, 0, 0)), color-stop(8.33333%, rgba(0, 0, 0, 0)), color-stop(8.33333%, rgba(100, 100, 225, 0.25)), color-stop(11.45833%, rgba(100, 100, 225, 0.25)), color-stop(11.45833%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(100, 100, 225, 0.25)), color-stop(19.79167%, rgba(100, 100, 225, 0.25)), color-stop(19.79167%, rgba(0, 0, 0, 0)), color-stop(20.83333%, rgba(0, 0, 0, 0)), color-stop(20.83333%, rgba(100, 100, 225, 0.25)), color-stop(23.95833%, rgba(100, 100, 225, 0.25)), color-stop(23.95833%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(0, 0, 0, 0)), color-stop(29.16667%, rgba(0, 0, 0, 0)), color-stop(29.16667%, rgba(100, 100, 225, 0.25)), color-stop(32.29167%, rgba(100, 100, 225, 0.25)), color-stop(32.29167%, rgba(0, 0, 0, 0)), color-stop(33.33333%, rgba(0, 0, 0, 0)), color-stop(33.33333%, rgba(100, 100, 225, 0.25)), color-stop(36.45833%, rgba(100, 100, 225, 0.25)), color-stop(36.45833%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(0, 0, 0, 0)), color-stop(41.66667%, rgba(0, 0, 0, 0)), color-stop(41.66667%, rgba(100, 100, 225, 0.25)), color-stop(44.79167%, rgba(100, 100, 225, 0.25)), color-stop(44.79167%, rgba(0, 0, 0, 0)), color-stop(45.83333%, rgba(0, 0, 0, 0)), color-stop(45.83333%, rgba(100, 100, 225, 0.25)), color-stop(48.95833%, rgba(100, 100, 225, 0.25)), color-stop(48.95833%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(0, 0, 0, 0)), color-stop(54.16667%, rgba(0, 0, 0, 0)), color-stop(54.16667%, rgba(100, 100, 225, 0.25)), color-stop(57.29167%, rgba(100, 100, 225, 0.25)), color-stop(57.29167%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(100, 100, 225, 0.25)), color-stop(61.45833%, rgba(100, 100, 225, 0.25)), color-stop(61.45833%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(0, 0, 0, 0)), color-stop(66.66667%, rgba(0, 0, 0, 0)), color-stop(66.66667%, rgba(100, 100, 225, 0.25)), color-stop(69.79167%, rgba(100, 100, 225, 0.25)), color-stop(69.79167%, rgba(0, 0, 0, 0)), color-stop(70.83333%, rgba(0, 0, 0, 0)), color-stop(70.83333%, rgba(100, 100, 225, 0.25)), color-stop(73.95833%, rgba(100, 100, 225, 0.25)), color-stop(73.95833%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(0, 0, 0, 0)), color-stop(79.16667%, rgba(0, 0, 0, 0)), color-stop(79.16667%, rgba(100, 100, 225, 0.25)), color-stop(82.29167%, rgba(100, 100, 225, 0.25)), color-stop(82.29167%, rgba(0, 0, 0, 0)), color-stop(83.33333%, rgba(0, 0, 0, 0)), color-stop(83.33333%, rgba(100, 100, 225, 0.25)), color-stop(86.45833%, rgba(100, 100, 225, 0.25)), color-stop(86.45833%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(0, 0, 0, 0)), color-stop(91.66667%, rgba(0, 0, 0, 0)), color-stop(91.66667%, rgba(100, 100, 225, 0.25)), color-stop(94.79167%, rgba(100, 100, 225, 0.25)), color-stop(94.79167%, rgba(0, 0, 0, 0)), color-stop(95.83333%, rgba(0, 0, 0, 0)), color-stop(95.83333%, rgba(100, 100, 225, 0.25)), color-stop(98.95833%, rgba(100, 100, 225, 0.25)), color-stop(98.95833%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -webkit-background-size: 100% 18px, auto;
  -moz-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 17, ../../app/assets/stylesheets/partials/_layout.scss */
body .wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  /*  @include showgrid; */
}
/* line 22, ../../app/assets/stylesheets/partials/_layout.scss */
body header {
  width: 100%;
  height: 130px;
  background: url(../images/backgrounds/bg-header.jpg) repeat-x;
}
/* line 26, ../../app/assets/stylesheets/partials/_layout.scss */
body header .inner {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../../app/assets/stylesheets/partials/_layout.scss */
body header .inner h1 {
  text-align: center;
}
/* line 37, ../../app/assets/stylesheets/partials/_layout.scss */
body .main-menu {
  padding: 25px;
}
/* line 40, ../../app/assets/stylesheets/partials/_layout.scss */
body footer {
  width: 100%;
  background: #8b0304;
}
/* line 43, ../../app/assets/stylesheets/partials/_layout.scss */
body footer .inner {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 45, ../../app/assets/stylesheets/partials/_layout.scss */
body footer .inner .social-links {
  width: 230px;
  float: left;
}
/* line 49, ../../app/assets/stylesheets/partials/_layout.scss */
body footer .inner .copyright {
  width: 390px;
  float: right;
  font-size: 12px;
  color: white;
  padding-top: 15px;
  text-align: right;
}

/* line 62, ../../app/assets/stylesheets/partials/_layout.scss */
.region {
  width: 800px;
  margin: 0 auto;
}

/* line 67, ../../app/assets/stylesheets/partials/_layout.scss */
.region:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 70, ../../app/assets/stylesheets/partials/_layout.scss */
.region {
  zoom: 1;
}

/* line 74, ../../app/assets/stylesheets/partials/_layout.scss */
a {
  color: #636466;
  text-decoration: none;
}

/* line 79, ../../app/assets/stylesheets/partials/_layout.scss */
p, li {
  font-size: 12px;
  line-height: 115%;
  color: #636466;
  margin-bottom: 10px;
}

/* line 90, ../../app/assets/stylesheets/partials/_layout.scss */
#laposta-description {
  text-align: center;
  margin: 35px 0 70px;
}
/* line 93, ../../app/assets/stylesheets/partials/_layout.scss */
#laposta-description .content {
  display: inline;
}
/* line 95, ../../app/assets/stylesheets/partials/_layout.scss */
#laposta-description .content p {
  display: inline;
}
