.social-links
  .label
    Síguenos
  %ul
    %li
      = link_to '', 'http://www.facebook.com/PostA.audiovisual', :class => 'facebook'
    %li
      = link_to '', 'http://www.youtube.com/user/CanalLaPostA', :class => 'youtube'

