#consultas.region
  #sidebar-form
    %h2.title ¿Cuánto?
    .content
      %p
        Cuéntanos sobre tu proyecto y te enviamos un presupuesto de inmediato.
      = render 'contactos/form' 

  #content-map
    %h2.title ¿Dónde?
    .content
      %p.home
        Av. Brasil 1458 - 1460, departamento 604 Torre B, Pueblo Libre, Lima - Perú.
      %p.phone
        (511) 659 8628
      %p.email
        consultas
   

