#consultas.region
  #sidebar-form
    %h2.title ¿Cuánto?
    .content
      %p
        Cuéntanos sobre tu proyecto y te enviamos un presupuesto de inmediato.
      = render 'contactos/form'

  #content-map
    %h2.title ¿Dónde?
    .content
      %p.home
        Av. Brasil 1458 - 1460, departamento 604 Torre B, Pueblo Libre, Lima - Perú.
      %p.phone
        (511) 659 8628
      %p.email
        consultas
      %p
        <iframe src="http://www.map-generator.org/a24a8075-30fb-427a-b898-442242b05609/iframe-map.aspx" scrolling="no" height="277px" width="468px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><small>

