


#laposta.region
  %section#laposta-description
    %h2.title
      En la Post-A
    .content
      %p
        Audiovisual nos distingue la pasión por CREAR.
        %br
        REALIZAR tus proyectos de manera integral es nuestro mayor compromiso.
        %br
        Te invitamos a VER lo que hacemos...

  %section#posts.column
    =render 'posts/posts'

  %section#staff.column
    =render 'miembros/lista'



  %section#likes.column.last
    %h2.title
      Likes
    .content
      = render 'facebook'


