%h1 Home#index
%p Find me in app/views/home/index.html.haml



-if current_admin
  = link_to 'Mensajes de contacto', contactos_path
  = link_to 'Staff', miembros_path
  = link_to 'Slides', slides_path
  = link_to 'Post-afolio', posts_path

=render 'miembros/lista'
=render 'slides/lista'
=render 'posts/lista'

=render 'contactos/form'
