
= render 'laposta'

%h2#servicios-block.page-title [ SERVICIOS ]
= render 'servicios'

%h2#postafolio-block.page-title [ POST-AFOLIO ]
= render 'postafolio'

%h2#consultas-block.page-title [ CONSULTAS ]
= render 'consultas'
