/*
=============================================================
MAIN STRUCTURE
=============================================================
*/

/*
body ul, body ol, body footer nav li,
html body footer nav,
html body footer .copyright,
.navigation li, header nav li{padding:0; margin:0}
.typography p, .content p, section[role="main"] > article p{margin-top:0} */

body{
  @include blueprint-debug;
  font-family:$font-primary;
  .wrapper {
    @include container;
  /*  @include showgrid; */
  }

  header {
    width: 100%;

    height : $header-size;
    background: $bg-header;
    .wrapper {
      @include container;
      height : $header-size;
      h1 {
        @include tcenter;
        margin-top: $space*5;
        span {
          display: none;
        }
        a {

        }
      }
    }

  }

  .main-menu {
    padding: $main-menu-height;
  }
  footer {
    width: 100%;
    margin-top: $space*10;
    background: $color-secondary-dark;
    .inner {
      @include container;
      width: $main-width;
      .social-links {
        @include span(5);
        @include fleft;
      }
      .copyright {
        @include span(9);
        @include fleft;
        //float: none;
        padding-right: 15px;
        font-size: $size-paragraph;
        text-align: center;
        color: white;
        padding-top: $space*3;
        position: relative;
        top: 4px;
      }
      .author {
        @include span(3);
        @include fright;
        padding-right: 110px;
        font-size: $size-paragraph;
        color: white;
        padding-top: $space*3;
        position: relative;
        @include tright;
        top: 4px;
        a img {
          position: absolute;
          right: 0;
          top: 11px;
        }
      }
    }
  }
}

#preface-top {
  border-bottom: 4px solid $color-gray;
}

.region {
  width: $main-width;
  margin: 0 auto;
}

.region:after {
  content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;
}
.region {
  zoom:1
}

a {
  color:$color;
  text-decoration:none;
}

p, li {
  @include paragraph;
}








#laposta-description {
  @include tcenter;
  margin:0 0 $laposta-description * 2;
  padding-top: 30px;
  .content {
    display: inline;
    p {
      display: inline;
      font-size: $size-main-paragraph;
      b {
        color: $color-secondary;
        font-style: italic;
      }
    }
  }
}

.crud {position: relative; z-index: 100}



#home-top {display: none}
#menu-dinamico {
  position: fixed;
  top:-200px;
  width: 100%;
  background: white;
  padding: $space*3 0;
  z-index: 200;
  #home-top {
    @include inline-block-(left);
  }
}

#portafolio-botones a,
.menu a{-moz-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in; transition: all 0.3s ease-in}

#portafolio-botones a:hover,
.menu a:hover,
.active {color: $color-secondary;}

#likes {overflow: hidden}
#likes iframe{width: 110% !important; position: relative; left: -5px}

  .custom-bg .foobar-container {
    background:#6C9E00 !important;
  }

  .foobar-message-wrapper {
    font-family: $font-primary !important;
    color: white !important;
    font-weight: lighter !important;
  }

.map-holder {border: 1px solid $color-secondary; width: 100%}

#scroll-top {height: 0; visibility: hidden}

#content {
  .front & {
    background: $bg-tramado; background-position: 0 120px;
  }


  #posts.index &,
  #devise-registrations &,
  #devise-sessions & {
    @include container;

    form {
      width: 400px;
      float: left;
    }
    h1.page-title {
      margin-top: 0;
      border-top: 0;
    }
  }

  .new &,
  .edit & {
    @include container;

    form {
      width: 100%;
      float: left;
    }
    h1.page-title {
      margin-top: 0;
      border-top: 0;
    }
  }


}


.fb-fake-border {
  border-left: 1px solid #aaa; border-right: 1px solid #aaa;
}
