%h2.title
  Posts

.posts-slider
  - @ultimos_posts.each_slice(3) do |slice|
    .content.rsContent
      .rotador
        - slice.each do |post|
          %article
            %div{:class => 'inner rsABlock', :"data-move-effect" => cycle('right', 'left', 'right') }
              %h3
                = post.titulo
              %span.date
                = l post.created_at, :format => :simple
              %p
                = paragraph(post, 60) 
              = image_tag post.foto(:preview), :class => 'rsImg'


