%footer
  .inner
     
    .author{:style => 'display:none'}
      = t('layout.development')
      = link_to image_tag('/images/kosmyka.png'), '#', :id => 'website-author'
    = render 'shared/social_links'
    .copyright
      = t('layout.copyright')

