%footer
  .inner
    = render 'shared/social_links'
    .copyright
      = t('layout.copyright')
    .author
      = t('layout.development')
      = link_to image_tag('/images/kosmyka.png'), 'http://www.kosmyka.com', :id => 'website-author', :target => '_blank'
